<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Exo7 : Exercices de mathématique -- Rechercher</title>
  <link rel="shortcut icon" href="html/favicon.ico"/>
  <meta http-equiv="content-type" content="text/html; charset=utf8" />
  <meta name="Description" content="Exo7 propose aux étudiants des fiches d’exercices de mathématiques avec indications et corrections de niveau L1 Math Sup, L2 Math Spé, L3 Licence."/> 
  <meta name="Keywords" content="exercice, math, mathématique, licence, université, supérieur, prépa, cpge, sup, spé, correction, corrigé, algèbre, analyse, L1, L2, L3"/>

  <!-- Materialize -->
  <link rel="stylesheet" href="materialize/css/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <style type="text/css">

    li.collection-item:hover {
      color: orange;
      cursor: pointer;
    }

    button:hover {
      cursor: pointer;
    }

    p:hover {
      color: orange;
      cursor: pointer;
    }

    b {
      align: center;
    }

    h5, h6 {
      text-align: center;
    }

    i:hover {
      cursor: pointer;
    }

    #ajout:hover {
      color: blue;
    }

    .modal-mask {
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: table;
      transition: opacity 0.3s ease;
    }

    .modal-wrapper {
      display: table-cell;
      vertical-align: middle;
    }

    .modal-container {
      width: 700px;
      margin: 15px auto;
      padding: 20px 30px;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
      transition: all 0.3s ease;
      font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
      margin-top: 0;
      color: red;
      text-align: center;
    }

    .modal-body {
      margin: 20px 0;
    }

    .modal-default-button {
      float: right;
    }

      /*
      * The following styles are auto-applied to elements with
      * transition="modal" when their visibility is toggled
      * by Vue.js.
      *
      * You can easily play with the modal transition by editing
      * these styles.
      */

      .modal-enter {
        opacity: 0;
      }

      .modal-leave-active {
        opacity: 0;
      }

      .modal-enter .modal-container,
      .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
  </style>

  <modal-template v-for="item in tabExoPerso" :exo="item.exercice" :visible="item.visible">
  </modal-template>
    <!-- template for the modal component -->
    <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="row">
          <div class="col s8">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">

              <div class="modal-header">
                <slot name="header">

                </slot>
              </div>

              <div class="modal-body">
                <slot name="body">
                  <div class="container">

                      <form  target="_blank" name="formulaire" action="http://exo7.emath.fr/bin/extract5.php" method="post">

                        <div style="display:flex;justify-content: space-between;">
                          <input type=text name="txt-annee" value="Année" style="width:30%;border:1px dashed grey; padding:3px; height:1.2rem" class="textinput" >
                          <input type=text name="txt-num" value="Numéro de module" style="width:30%;text-align:right;border:1px dashed grey; padding:3px; height:1.2rem" class="textinput">
                        </div>
                        <div style="display:flex;justify-content: space-between;">
                          <input type=text name="txt-univ" value="Établissement" style="width:30%;border:1px dashed grey; padding:3px; height:1.2rem" class="textinput">
                          <input type=text name="txt-module" value="Module" style="width:30%;text-align:right;border:1px dashed grey; padding:3px; height:1.2rem" class="textinput">
                        </div>
                        <hr class="hrule">
                        <div style="text-align:center">
                          <input type=text name="txt-titre" size="30" align="center" value="Titre de la planche"  style="width:60%;font-size:200%;text-align:center;border:1px dashed grey; padding:3px; height:2rem" class="textinput">
                        </div>
                        <hr class="hrule">
                        <br/><br/>
                        <h6>Exercices à inclure dans la feuille :</h6>
                        <textarea name="MesExos" id="maListe" rows="5" cols="100" style="width=100%;height:3em;resize:none;" onkeyup="maj()">
                        </textarea>
                        <!-- $theliste est la liste qui peux provenir d'une selection en ligne -->
                        <br>
                        <i> Vous pouvez saisir directement les numéros des exercices.
                        Exemple : 7 11 14-18 : pour les exercices 7, 11 et de 14 à 18.</i>


                        <div style="padding-top:20px">
 

                          <h6>Parties des exercices à inclure (si disponible) :</h6>
                          <!-- J'ai modifié lignes 6913 et 6914 pour mettre en rouge les coches -->
                          <label >
                            <input type="checkbox" name="Pos[]" value="e1" checked="checked" style="border-color: red;">
                            <span>Énoncés</span>
                          </label>
                          <br/>
                          <label>
                            <input type="checkbox" name="Pos[]" value="i1" checked="checked">
                            <span>Indications</span>
                          </label>
                          <label>
                            <input type="checkbox" name="Pos[]" value="i2" checked="checked">
                            <span>sur une page à part</span>
                          </label>
                          <br/>
                          <label>
                            <input type="checkbox" name="Pos[]" value="c1" checked="checked">
                            <span>Corrections</span>
                          </label>
                          <label>
                            <input type="checkbox" name="Pos[]" value="c2"  checked="checked">
                            <span>sur une page à part</span>
                          </label>
                        </div>

                        <div style="text-align:center;padding:20px">

                          <input class="btn red" type="submit" name="pdf"   value="Exporter en PDF">
                          <input class="btn red"  type="submit" name="tex"   value="Exporter en LaTeX">
                        </div>

                        <h6>Lien pour accéder à cette page avec cette même liste pré-chargée:</h6>

                        <input id="permalien" type="text" value="" style="width:100%">
                        <input type="button" class="btn red" onClick="copier()" value="Copier l'URL dans le presse-papier" style="width:auto">

                      </form>
                    </div>
                  </div>
                </slot>
              </div>

              <div class="modal-footer">
                <slot name="footer">
                  <button class="modal-default-button btn red" @click="$emit('close')">
                    Fermer
                  </button>
                </slot>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      </transition>
    </script>
</head>

<!--
Design by Free CSS Templates http://www.freecsstemplates.org
Name : Zenlike  Released for free under a Creative Commons Attribution 2.5 License
-->

<!-- Page où l'on peut choisir quelle liste afficher, les exercices ne s'affichent plus directement lorsqu'on clique sur un titre de chapitre 
De plus, l'affichage des exercices ne disparaît pas lorsqu'on clique sur "revenir aux chapitres" -->

<body onLoad="M.AutoInit();">
  <div class="app">
    <div class="row">
    <nav>
      <div class="nav-wrapper grey darken-4">
        <a href="#!" class="brand-logo center">Rechercher des exercices</a>
        <ul class="left">
          <li><span class="tooltipped" data-position="right" data-tooltip="Retour à la page d'accueil" data-backgroun-color="red"><a href="index2.html"><i class="material-icons">undo</i></a></span></li>
          <li><span class="tooltipped" data-position="right" data-tooltip="Imprimer"><a href="#"><i class="material-icons">print</i></a></span></li>
          <li><span class="tooltipped" data-position="right" data-tooltip="Chercher un exercice"><i class="material-icons" onclick="var m = prompt('Entrez le numéro de l\'exercice'); app.listeExos = ''; app.listeExos += m; app.recupExos(); app.affichage()">search</i></span>
          </li>
        </ul>
        <ul class="right">
          <li><img src="images/LogoExo7-mini.png" style="width: 50%"></li>
        </ul>
      </div>
    </nav>
  </div>
Of a set \(\mathcal{S}\) is a bijection \(\psi : \mathcal{S} \rightarrow \mathcal{S}\).
  <div class="row">
      <!-- use the modal component, pass in the prop -->
      <modal v-if="showModal" @close="showModal = false">
        <!--
      you can use custom content here to overwrite
      default content
    -->
        <h3 slot="header">Aperçu de la feuille d'exercices</h3>
      </modal>

<!-- Pour les bordures colorées, j'ai modifié les lignes 3162 et 3168 -->
    <!-- Affichage des menus -->
    <div class="col s3">

        <!-- Affichage des modules -->
        <ul class="collection with-header" v-if = showModule>
          <li class="collection-item" 
          v-for="item in tabModules" 
          @click="listeChapitres = item.chapitres; module = item.nom;
          showSousChap = false; showChap = true; showModule = false;">
          <div>{{ item.nom }}</div></li>
        </ul>

        <!-- Affichage des chapitres -->
        <ul class="collection with-header" v-if = showChap>
          <li class="collection-header" v-show = showChap > <h6>{{ module }}</h6> 
          <!-- Mise en place des boutons de retour du menu -->
          <p @click="listeChapitres = []; chapitre = '';
          showModule = true; showChap = false" v-show = showChap> < Revenir aux modules </p></li>
        </ul>

        <ul class="collection with-header" v-if = showChap>
            <li class="collection-item" 
            v-for="item in listeChapitres" 
            @click="listeSousChapitres = item.sousChapitres; exosChapitre(item.sousChapitres); recupExos(); chapitre = item.nom;
            showSousChap = true; showChap = false;">
              <div>{{ item.nom }}</div></li>
        </ul>

        <!-- Affichage des sous chapitres -->
        <ul class="collection with-header" v-if = showSousChap>
          <li class="collection-header" v-show = showSousChap > <h6>{{ chapitre.substring(4,100) }}</h6> 
            <p @click="listeSousChapitres = []; sousChap = ''; nbExos = 0; chapitre = ''; tabExos = [];
            showChap = true; showSousChap = false;"
            v-show = showSousChap> < Revenir aux chapitres</p></li>
        </ul>

        <ul class="collection with-header" v-if = showSousChap>
              <li class="collection-item" 
              v-for="item in listeSousChapitres" 
              @click="exosSousChapitre(item); recupExos(); sousChap = item.nom;">
                <div>{{ item.nom }}</div></li>
        </ul>

        <i>Nombre d'exercices {{ chapitre.substring(4,100) }} - {{ sousChap.substring(7, 100) }} : {{ nbExos }}</i>
    </div>

      <!-- Liste des exercices -->
      <div class="col s2">
        <ul class="collection with-header" v-if="chapitre != ''">
          <li class="collection-header"> 
            <h6 v-if="sousChap == ''">{{ chapitre.substring(4,100) }}</h6>
            <h6>{{ sousChap.substring(7, 100) }}</h6> 
          </li>
        </ul>
        <div class="col s12">
          <div class="col s6" v-show="tabExos.length != 0"><span class="tooltipped" data-position="bottom" data-tooltip="Tout (dé)sélectionner"><i class="material-icons" @click="changeSelection(); affichage()"> {{ selection }} </i></div>
          <div class="col s6"><span class="tooltipped" data-position="bottom" data-tooltip="Afficher"><i class="material-icons" @click="affichage()" v-show="tabExos.length != 0">visibility</i></span></div>
</div>
        <ul class="collection with-header" style="height: 600px; overflow: scroll; overflow: auto">
          <li class="collection-item" v-for="item in tabExos" v-if="item.exercice != ''">
          <i class="material-icons" @click="item.visible = changeIcone(item.visible); affichage(); verifSelection()">{{ item.visible }}</i> {{ item.exercice }} 
          <i id="ajout" class="material-icons" @click="completeTabPerso(item.exercice)"> add </i></li>
        </ul>
      </div>

      <!-- Affichage des exercices -->
      <div class="col s5" style="height : 800px; overflow: scroll; overflow: auto">
        <button v-if="showCorrection" @click="showCorrection = ! showCorrection">Cacher Correction</button>
        <button v-if="!showCorrection" @click="showCorrection = ! showCorrection">Voir Correction</button>
        <!-- Ajouter : style="height: 200px; overflow: scroll; overflow: auto" à la div du dessous pour réduire les exercices -->
          <div class="collection-item" v-for="item in afficheEx">
          {{item}}  
          </br>
          </br>
          </div>
      </div>

      <!-- Affichage liste personnalisée -->
      <div class="col s2">
        <ul class="collection with-header">
          <li class="collection-header"> <h5>Ma liste</h5></li>
        </ul>
        <div class="col s3"><span class="tooltipped" data-position="bottom" data-tooltip="Ajouter"><i class="material-icons" onclick="var m = prompt('Entrez le numéro de l\'exercice'); app.completeTabPerso(m)">add</i></span></div>
        
        <div class="col s3"><span class="tooltipped" data-position="bottom" data-tooltip="Afficher"><i class="material-icons" @click="persoAffichee = true; affichagePerso()">visibility</i></span></div>
        
        <div class="col s3"><span class="tooltipped" data-position="bottom" data-tooltip="Réinitialiser"><i class="material-icons" @click="tabExoPerso = []; reorganisation = false">delete</i></span></div>

        <div class="col s3"><span id="show-modal" class="tooltipped" data-position="bottom" data-tooltip="Exporter"><i class="material-icons" @click="showModal = true">open_in_new</i></span></div>

        <ul class="collection with-header" style="height: 600px; overflow: scroll; overflow: auto">
          <li class="collection-item" v-for="item in tabExoPerso" v-if="item != ' '">
            {{ item.exercice }}
            <i class="material-icons" @click="item.visible = changeIcone(item.visible); affichagePerso()"> {{ item.visible }} </i> 
            <i class="material-icons" @click="suppListePerso(item); affichagePerso()"> delete </i>
            <i class="material-icons" @click="changeOrdre('up', item); affichagePerso()"> arrow_upward </i>
            <i class="material-icons" @click="changeOrdre('down', item); affichagePerso"> arrow_downward </i>
          </li>
        </ul>
      </div>
  </div>
</div>

<footer class="page-footer docs-footer deep-orange darken-3" style="padding-top: 0">
      <div class="container" style="padding-top: 0">
        <div class="row" >
          <div class="col s12">
            <div class="row">
              <div class="col s12">
                <h5>Auteurs</h5>
                <p> Les cours et les vidéos sont produits par Arnaud Bodin (Université de Lille), Léa Blanc-Centi (Université de Lille), Niels Borne (Université de Lille), Benjamin Boutin (Université Rennes 1), Laura Desideri (Université de Lille), Damien Mégy (université de Lorraine) et Pascal Romon (Université Marne la Vallée) avec l'aide d'autres collègues. Les énoncés et corrections d'exercices proviennent de diverses universités ainsi que de classes de Math Sup et Math Spé. Le contenu est entièrement gratuit. <br/>Le site Exo7 et les vidéos sont soutenus financièrement par l'université Lille 1 et Unisciel ; le site est hébergé par la SMAI et la SMF. 
                </p>
              </div>

            <div class="row">
              <div class="col s12">
                <h5>Sponsors</h5>
              </div>
              <div class="col s12">
                <div class="patreon-footer-ad">
                  <a href=http://www.unisciel.fr> <img src="images/logo_unisciel.gif" height="50"/></a>

                  <a href=http://www.univ-lille1.fr> <img src="images/logo_lille1_new.png" height="50"/></a>

                  <a href=http://www.univ-rennes1.fr> <img src="images/logo_rennes1.jpg" height="50"/></a>

                  <a href=http://www.univ-mlv.fr> <img src="images/logo_marne-la-vallee.jpg" height="50"/></a>

                  <a href=http://www.smai.emath.fr/> <img src="images/Logo-SMAI.png"/></a>

                  <a href=http://www.smf.emath.fr/> <img src="images/Logo-SMF.png"/></a>
                </div>
              </div>
            </div>

            <div class="footer-copyright">
              © 2014-<noscript>2018</noscript><script type="text/javascript">document.write(new Date().getFullYear());</script> Materialize, All rights reserved.
              <a class="grey-text text-darken-1 right" href="https://github.com/Dogfalo/materialize/blob/master/LICENSE">MIT License</a>
            </div>

          </div>
        </div>
      </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">

var mesExercices = new Array();

function charger(n){
  var numExo = n;
  while(numExo.length < 6){
     numExo = 0 + numExo;
  }
  // on charge l'exo mais uniquement s'il n'est pas encore chargé :
  if(mesExercices[n]==undefined || mesExercices[n]==""){
    var URL="exercices/ex"+numExo+".txt";
    console.log("on charge l'exercice"+n+", son adresse est "+URL);
    $.get(URL, function (response) {
        mesExercices[n] = response;
        console.log("chargement de l'exercice "+n+" terminé");
        console.log(mesExercices[n]);
    });
  }
}
</script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ["\\(","\\)"] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>
<script type="text/javascript"
src="http://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>

  <!-- VueJS -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- JS pour récupérer les anciens tableaux et Materialize -->
  <script type="text/javascript" src="tableaux.js"></script>
  <script type="text/javascript" src="materialize/js/materialize.js"></script>

  <!-- JQuery -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js%22%3E"></script>

<script>
  // register modal component
  Vue.component("modal", {
    props: ['exo', 'visible'],
    template: "#modal-template",
  });
  const app = new Vue({
    el: ".app",
    data: {
      showModal : false,
      //Tableau d'objets où vont être tous les modules, chapitres, sous chapitres et listes d'exercices
      tabModules: [],
      //Données pour l'affichage
      showModule: true,
      showChap: false,
      showSousChap: false,
      module: '',
      chapitre: '',
      sousChap: '',
      //Listes qui stockent les chap et sousChap à afficher
      listeChapitres: [],
      listeSousChapitres: [],
      //listeExos prend la chaine contenant tous les exercices, qui va être splitée et intégrée dans tabExos pour avoir les numéros d'exercice un par un
      listeExos: '',
      tabExos: [],
      nbExos: 0,
      //Icone à sélectionner ou déselectionner si on veut voir ou non un exercice, en fonction du résultat, les exercices seront placés dans afficheEx, mesExercices contiendra le texte brut de chaque exercice
      icone: 'visibility',
      afficheEx: [],
      numExo: '',
      mesExercices: [],
      showCorrection: 'true',
      //Pour cocher ou decohcer tous les exercices
      selection: 'check_box',
      texteSelection: 'Tout désélectionner',
      //Liste des exercices entrés par l'utilisateur
      tabExoPerso: [],
      exercicePerso: '',
      persoAffichee: false,
    },
    methods: {
      //Méthode qui regroupe les listes d'exercices de tous les sous-chapitres d'un chapitre sélectionné, le paramètre étant la liste des sous-chapitres
      exosChapitre(liste){
        this.selection = 'check_box';
        this.texteSelection = 'Tout désélectionner'
        this.listeExos = [];
        for(var n in liste){
          this.listeExos += " " + liste[n].exos;
        }
      },
    //Méthode qui prend en paramètre le nom d'un sous-chapitre et récupère son attribut exos dans listeExos
    exosSousChapitre(nom){
      this.selection = 'check_box';
      this.texteSelection = 'Tout désélectionner'
      this.listeExos = [];
      this.listeExos += nom.exos;
    },
    //Méthode qui insère un par un les exercices de listeExos dans un tableau pour pouvoir les afficher
    recupExos(){
      this.tabExos = [];
      //Place tous les exercices dans un tableau pour trouver leur fichier .txt
      var tabInter = this.listeExos.split(' ');
      //Compte des exercices, juste pour l'affichage
      //Pour les exos des chapitres, il y a un espace en premier caractère du tableau, on ne le compte donc  pas
      if (tabInter[0] == ''){
        this.nbExos = -1;
      } else {
        this.nbExos = 0;
      }
      for (var n in tabInter){
        //On attribue l'icone visibility à chaque exercice avec l'attribut visible.
        var objExos = new Object();
        objExos.exercice = tabInter[n];
        objExos.visible = this.icone;
        objExos.ajouter = 'add';
        this.tabExos.push(objExos);
        this.nbExos += 1;
      }
    },
    //Méthode qui change l'icone de visibilité d'un exercice à chaque clique
    changeIcone(icone){
      if(icone == 'visibility'){
        return 'visibility_off';
      } else {
        return 'visibility';
      }
    },
    //Méthode qui change l'icone "tout sélectionner" ainsi que le texte correspondant
    changeSelection(){
      if(this.selection == 'check_box_outline_blank'){
        this.selection = 'check_box';
        this.texteSelection = 'Tout déselectionner';
        for(var n in this.tabExos){
          this.tabExos[n].visible = 'visibility';
        }
      } else {
        this.selection = 'check_box_outline_blank';
        this.texteSelection = 'Tout sélectionner';
        for(var n in this.tabExos){
          this.tabExos[n].visible = 'visibility_off';
        }
      }
    },
    //Si l'utilisateur déselectionne ou sélectionne tout à la main, la case Tout sélectionner doit changer
    verifSelection(){
      var v = 0; //visible
      var nv = 0; //non visible
      for(var n in this.tabExos){
        console.log(this.tabExos[n].exercice);
        if(this.tabExos[n].exercice != ''){
          if(this.tabExos[n].visible == 'visibility_off'){
            nv++;
          } else {
            v++;
          }
        }
      }
      if(nv == this.nbExos && this.selection == 'check_box'){
        this.selection = 'check_box_outline_blank';
        this.texteSelection = 'Tout sélectionner';
      } else if (v == this.nbExos && this.selection == 'check_box_outline_blank'){
        this.selection = 'check_box';
        this.texteSelection = 'Tout désélectionner';
      }
    },
    //Va faire une boucle sur tabExos pour récupérer la liste des exos sélectionnés, méthode doit être appelée à chaque clic
    affichage(){
      this.afficheEx = [];
      var numExo;
      var objExo = new Object();
      for(var n in this.tabExos) {
        if(this.tabExos[n].visible == 'visibility'){
          //Le premier élément du tableau sera nul donc on n'en tient pas compte
          if(this.tabExos[n].exercice != ''){
            numExo = this.tabExos[n].exercice;
            charger(numExo);
            this.mesExercices[numExo] = mesExercices[numExo];
            var splitExo = mesExercices[numExo].split('\correction');
            objExo.enonce = splitExo[0];
            objExo.showCorrection = 'true';
            objExo.texteCorrection = splitExo[1];
            this.afficheEx.push(objExo);
            console.log(afficheEx[numExo].enonce);
          }
        }
      }
    },
    affichagePerso(){
      this.afficheEx = [];
      var numExo;
      if(this.persoAffichee){
        for(var n in this.tabExoPerso) {
          if(this.tabExoPerso[n].visible == 'visibility'){
            if(this.tabExoPerso[n].exercice != ''){
              numExo = this.tabExoPerso[n].exercice;
              charger(numExo);
              this.mesExercices[numExo] = mesExercices[numExo];
              var splitExo = mesExercices[numExo].split('\correction');
              objExo.enonce = splitExo[0];
              objExo.showCorrection = 'true';
              objExo.texteCorrection = splitExo[1];
              this.afficheEx.push(objExo);
              console.log(afficheEx[numExo].enonce);
            }
          }
        }
      }
    },
    completeTabPerso(numEx){
      var c = 0;
      var objEx = new Object();
      for(var n in this.tabExoPerso){
        if(this.tabExoPerso[n].exercice != numEx){
          c++;
        }
      }
      if(c == this.tabExoPerso.length && numEx != '' && numEx != 'null'){
        objEx.exercice = numEx;
        objEx.visible = this.icone;
        objEx.reorganiser = this.reorganiser;
        this.tabExoPerso.push(objEx);
      }
      //Pour l'ajout d'un exercice à la main :
      this.exercice='';
    },
    suppListePerso(Ex){
      var tabInter = [];
      for(var n in this.tabExoPerso){
        if(this.tabExoPerso[n] != Ex){
          tabInter.push(this.tabExoPerso[n]);
        }
      }
      this.tabExoPerso = [];
      for(var n in tabInter){
        this.tabExoPerso.push(tabInter[n]);
      }
    },
    changeOrdre(direction, exo){
      var tabInter = [];
      var position;
      for(var n in this.tabExoPerso){
        if(this.tabExoPerso[n] == exo){
          position = n;
        }
      }
      //Monter l'exercice
      if(direction == 'up' && position != 0){
        var p = 0;
        while(p+1 != position){
          tabInter.push(this.tabExoPerso[p]);
          p++;
        }
        tabInter.push(this.tabExoPerso[p+1]);
        tabInter.push(this.tabExoPerso[p]);
        p += 1;
        while(p < this.tabExoPerso.length-1){
          p++;
          tabInter.push(this.tabExoPerso[p]);
        }
        this.tabExoPerso = [];
        for(var n in tabInter){
          this.tabExoPerso.push(tabInter[n]);
        }
      } 
      //Descendre l'exercice
      else if(position == 'down' && position != this.tabExoPerso.length-1){
        var p = this.tabExoPerso.length-1;
        while(p-1 != position){
          tabInter.push(this.tabExoPerso[p]);
          p--;
        }
        tabInter.push(this.tabExoPerso[p-1]);
        tabInter.push(this.tabExoPerso[p]);
        p -= 1;
        while(p > 0){
          p--;
          tabInter.push(this.tabExoPerso[p]);
        }
        this.tabExoPerso = [];
        var i = tabInter.length-1;
        while(i >= 0){
          this.tabExoPerso.push(tabInter[i]);
          i--;
        }
      }
    },
  },
  created(){
    //Insertion des anciens tabeaux du fichier tableaux.js
    //Insertion des objets "modules" qui contiendront les chapitres et sous chapitres
    for(var i = 0; i<tabModulesJS.length; i++){
      var objModule = new Object();
      objModule.nom = tabModulesJS[i];
      objModule.chapitres = [];
      this.tabModules.push(objModule);
    }

    //Insertion des objets "chapitres" qui contiendront les sous-chapitres et leurs exercices
    var n = 0;
    for (var i = 0; i < tabNumModuleJS.length; i++){
      n = tabNumModuleJS[i];
      var objChapitre = new Object();
      objChapitre.nom = tabchdescJS[i];
      objChapitre.sousChapitres = [];
      this.tabModules[n].chapitres.push(objChapitre);
    }

    //Insertion des objets "sous-chapitres" qui contiendront les exercices
    for(var i = 0; i < this.tabModules.length; i++){
      for (var j = 0; j < this.tabModules[i].chapitres.length; j++){
        for (var k = 0; k < tabcodeJS.length; k++){
          if (this.tabModules[i].chapitres[j].nom.substring(0,3) == tabcodeJS[k].substring(0,3)){
            var objSousChapitre = new Object();
            objSousChapitre.nom = tabdescJS[k];
            objSousChapitre.exos = tabexosJS[k];
            this.tabModules[i].chapitres[j].sousChapitres.push(objSousChapitre);
          }
        }
      }
    }
  },
})
</script>

</body>
</html>