<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<div class="app">
<h3>Premier test : </h3>
<p>
	Chargement d'un fichier html externe dans un div avec load : 
	<div id="identifiant"></div>
</p>
<h3>Deuxième test : </h3>

<p>
	Remplissage d'un tableau de variables avec des fichiers externes spécifiés : 
<input type="text" value="monNumero" v-model="monNumero" id="monNumero">

<a href="#" @click="charger2()">Charger l'exercice</a> (numéros de 1 à 5 uniquement)
</p>

<ul>
<li v-for="exercice in mesExercices">
	{{exercice}}
</li>
</ul>
</div>

</script>

  <!-- VueJS -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>
  	const app = new Vue({
    	el: ".app",
    	data: {
    		monNumero: '',
    		mesExercices: new Array,
    	},
    	methods: {
    		charger2(){
    			var n = this.monNumero;
    			var texteEx;
    			if(this.mesExercices[this.monNumero]==undefined || this.mesExercices[this.monNumero == '']){
    				var URL="exercices/ex00000"+n+".txt";
    				console.log("on charge l'exercice"+n+", son adresse est "+URL);
					$.get(URL, function (response) {
	    				texteEx = response;
	    				console.log("chargement de l'exercice "+n+" terminé");
	    				console.log(response);
	    				//this.mesExercices[n] = texteEx;
	    				//console.log(this.mesExercices[n]);
	    			});
    			}
    		}
    	}
	})
  </script>
</body>
</html>